.btn4{
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
    background-color: #ffdc60;
    height: 60px;
    line-height: 60px;
    text-align: center;
    padding: 0 35px;
    z-index: 1;
    overflow: hidden;
    border-radius: 10px;
    text-transform: capitalize;
    position: relative;
    cursor: pointer;
}
.btn4::after, .btn4::before{
    content: "";
    background-color: #57c9ca;
    height: 50%;
    width: 0;
    position: absolute;
    transition: 0.3s cubic-bezier(.785, .135, .15, .86);
    -webkit-transition: 0.3s cubic-bezier(.785, .135, .15, .86);
    z-index: -1;
}
.btn4:hover::before{
    width: 100%;
    right: 0;
    left: auto;
}
.btn4::before{
    top: 0;
    left: 0;
    right: auto;
}
.btn4:hover::after{
    width: 100%;
    left: 0;
    right: auto;
}
.btn4::after{
    bottom: 0;
    right: 0;
    left: auto;
}

