.btn5{
    position: relative;
    background-color: #444;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5s;
    cursor: pointer;
    --clr:#6EFF3E;
}
.btn5:hover{
    background: var(--clr);
    color: var(--clr);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--clr);
}
.btn5::before{
    content:'';
    position: absolute;
    inset: 2px;
    background: #27282c;
}
.btn5 span{
    position: relative;
    z-index: 1;
}
.btn5 i{
    position: absolute;
    inset: 0;
    display: block;
}
.btn5 i::before{
    content: '';
    position: absolute;
    top: -6px;
    left: 100%;
    width: 10px;
    height: 10px;
    background: #27282c;
    transform: translateX(-50%);
    border: 2px solid var(--clr);
    transition: 0.5s;
}
.btn5:hover i::before{
    left: 0%;
    transform: translateX(-50%) rotate(45deg);
    box-shadow: 40px 39px var(--clr);
}
.btn5 i::after{
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0%;
    width: 10px;
    height: 10px;
    background: #27282c;
    transform: translateX(-50%);
    border: 2px solid var(--clr);
    transition: 0.5s;
}

.btn5:hover i::after{
    left: 100%;
    transform: translateX(-50%) rotate(-45deg);
    box-shadow: 38px -39px var(--clr);
}